<div class="dateRangePicker-wrapper" *ngIf="parentFormGroup">
  <div #content>
    <ng-content></ng-content>
  </div>
  <div class="form-group" [formGroup]="parentFormGroup">
    <ng-container *ngIf="content.childNodes.length === 0">
      <label [attr.for]="instanceId">{{ options.labelText }}</label>
      <input [attr.id]="instanceId" class="form-control" type="text" [formControlName]="controlName">
    </ng-container>

    <div [ngClass]="{'dateRangePicker': true, 'invisible': !showCalendars, 'dateRangePicker-single': options.singleCalendar, 'is-chrome': checkChrome(), 'open-left': options.position === 'left', 'open-right': options.position === 'right' }">
      <div class="container-fluid">
        <div class="row">
          <div class="col">

            <div class="row form-inputs mb-0" *ngIf="!options.singleCalendar">

              <div class="col">
                <div class="" *ngIf="options.icons !== 'default'">
                  <div [ngClass]="{ 'd-flex align-items-center input-with-icon': true, 'material': options.icons === 'material'}">
                    <i *ngIf="options.icons === 'material'" class="material-icons">event</i>
                    <i *ngIf="options.icons === 'font-awesome'" class="far fa-calendar-alt"></i>
                    <span *ngIf="fromDate">From:&nbsp;</span>
                    <input class="form-control" [ngModel]="fromDate | formatMomentDate: options.format" (blur)="setDateFromInput($event, true)" type="text" name="daterangepicker_start" [ngModelOptions]="{ standalone: true }" placeholder="Select From Date" />
                  </div>
                </div>

                <input *ngIf="options.icons === 'default'" class="form-control" [ngModel]="fromDate | formatMomentDate: options.format" (blur)="setDateFromInput($event, true)" type="text" name="daterangepicker_start" [ngModelOptions]="{standalone: true}" placeholder="Select From Date" />
              </div>

              <div class="col">
                <div class="" *ngIf="options.icons !== 'default'">
                    <div [ngClass]="{ 'd-flex align-items-center input-with-icon': true, 'material': options.icons === 'material'}">
                      <i *ngIf="options.icons === 'material'" class="material-icons">event</i>
                      <i *ngIf="options.icons === 'font-awesome'" class="far fa-calendar-alt"></i>
                      <span *ngIf="toDate">To:&nbsp;</span>
                      <input class="form-control" [ngModel]="toDate | formatMomentDate: options.format" (blur)="setDateFromInput($event)" type="text" name="daterangepicker_end" [ngModelOptions]="{ standalone: true }" placeholder="Select To Date" />
                    </div>
                  </div>

                <input *ngIf="options.icons === 'default'" class="form-control" [ngModel]="toDate | formatMomentDate: options.format" (blur)="setDateFromInput($event)" name="daterangepicker_end" [ngModelOptions]="{standalone: true}" />
              </div>

            </div>

            <div class="row row-calendars">
              <div class="col">
                <calendar [ngClass]="{ 'calendar': true, 'calendar-single': options.singleCalendar }" [isLeft]="true" [month]="fromMonth" [year]="fromYear" (monthChanged)=monthChanged($event)
                  (yearChanged)="yearChanged($event)" (dateChanged)="dateChanged($event)" [format]="options.format" [selectedFromDate]="fromDate"
                  [selectedToDate]="toDate" [minDate]="options.minDate" [maxDate]="options.maxDate" [singleCalendar]="options.singleCalendar" [icons]="options.icons"></calendar>
              </div>

              <div class="col" *ngIf="!options.singleCalendar">
                <calendar class="calendar" [month]="toMonth" [year]="toYear" [format]="options.format" (dateChanged)="dateChanged($event)" (monthChanged)="monthChanged($event)" (yearChanged)=yearChanged($event) [selectedFromDate]="fromDate" [selectedToDate]="toDate" [minDate]="options.minDate" [maxDate]="options.maxDate" [icons]="options.icons"></calendar>
              </div>
            </div>
          </div>
        </div>

        <div class="row text-center my-3" *ngIf="!options.singleCalendar">
          <div class="col">
            <div class="row mb-2" *ngIf="options.preDefinedRanges && options.preDefinedRanges.length > 0">
              <div class="col">
                <button type="button" *ngFor="let range of options.preDefinedRanges" class="btn btn-link" (click)="applyPredefinedRange($event, range)">{{ range.name }}</button>
              </div>
            </div>
            <button type="button" class="btn btn-outline-secondary btn-sm" (click)="close($event)">Close</button>
            <button type="button" class="btn btn-outline-secondary btn-sm ml-3" (click)="reset($event)" *ngIf="this.range">Reset</button>
            <button type="button" class="btn btn-primary btn-sm ml-3" [disabled]="!enableApplyButton" (click)="apply($event)" *ngIf="!isAutoApply()">Apply</button>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
