<div class="container-fluid">
  <div class="row mb-3">
    <div class="col">
      <h1>Ngx Date Range Picker</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <form enctype="application/x-www-form-urlencoded" role="form" *ngIf="form" [formGroup]="form">
        <fieldset>
          <date-range-picker [options]="firstFieldOptions" [parentFormGroup]="form" [controlName]="'firstDateRange'" [fromDate]="fromDate" [toDate]="toDate"></date-range-picker>
          <p style="color: red;" *ngIf="form.controls.firstDateRange.touched && form.controls.firstDateRange.hasError('required')">This field is required</p>
        </fieldset>
        <fieldset>
          <date-range-picker [options]="secondFieldOptions" [parentFormGroup]="form" [controlName]="'secondDateRange'" #dateRangePicker>
            <div class="form-group">
              <label for="secondDateRange">You can also use a custom template</label>
              <input id="secondDateRange" class="form-control" type="text" name="dateRange" [value]="dateRangePicker.range" placeholder="From - To" formControlName="secondDateRange" />
            </div>
          </date-range-picker>
        </fieldset>
      </form>
    </div>
  </div>
</div>

