<div class="container-fluid">
  <div class="row mb-3">
    <div class="col">
      <h1>Ngx Date Range Picker</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <form enctype="application/x-www-form-urlencoded" role="form" >
        <fieldset>
          <date-range-picker #dateRangePicker [options]="firstFieldOptions" [parentFormGroup]="form" [controlName]="'firstDateRange'" (rangeSelected)="onRangeSelected($event)"></date-range-picker>
          <p style="color: red;" *ngIf="form.controls.firstDateRange.touched && form.controls.firstDateRange.hasError('required')">This field is required</p>
        </fieldset>
      </form>
      <button class="btn btn-default" (click)="onReset($event)">Call Reset on this Date Picker to clear it</button>
    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-2">
      <form enctype="application/x-www-form-urlencoded" role="form" >
        <fieldset>
          <date-range-picker [options]="rightFieldOptions" [parentFormGroup]="form" [controlName]="'rightDateRange'"></date-range-picker>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <form enctype="application/x-www-form-urlencoded" role="form" [formGroup]="form" *ngIf="form">
        <fieldset>
          <date-range-picker [instanceId]="'secondDateRange'" [options]="secondFieldOptions" [parentFormGroup]="form" [controlName]="'secondDateRange'" #dateRangePicker>
            <div class="form-group">
              <label for="secondDateRange">You can also use a custom template</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="date-range-icon">
                    <i class="material-icons">event</i>
                  </span>
                </div>
                <input id="secondDateRange" class="form-control" type="text" name="dateRange" [value]="dateRangePicker.range" placeholder="From - To" formControlName="secondDateRange" />
              </div>
            </div>
          </date-range-picker>
        </fieldset>
      </form>
    </div>
  </div>
</div>

