.calendar {
  &.calendar-single {
    .table {
      td {
        &.in-selected-range {
          background-color: transparent;
        }
      }
    }
  }

  .calendar-pagination {
    font-size: 16px;
    margin: 0.5rem -15px 0 -15px;

    &.material {
      .btn {
        &.btn-previous-year {
          padding-right: 3px;
        }

        &.btn-previous-month {
          padding-left: 0;
        }

        &.btn-next-month {
          padding-right: 0;
        }

        &.btn-next-year {
          padding-left: 3px;
        }
      }
    }

    .month-year {
      font-weight: 600;
    }
  }

  .week-days {
    text-transform: uppercase;
  }

  .table {
    th, td {
      border-radius: 0;
      color: #333;
      font-size: 12px;
      height: 36px;
      line-height: 1;
      padding: 0;
      text-align: center;
      vertical-align: middle;
    }

    th {
      font-weight: 400;
    }

    td {
      border-radius: 5px;
      cursor: pointer;
      font-weight: 900;
      width: 32px;
      max-width: 32px;

      &:not(.disabled):not(.selected) {
        &:hover {
          background-color: #eee;
          color: #333;
        }
      }

      &.selected {
        background-color: #003D79;
        border-radius: 5px;
        color: #fff;
        font-size: 12px;

        &.in-selected-range {
          background-color: #003D79;
          border-radius: 5px;
        }

        &.different-month {
          color: #fff;
        }

        &:hover {
          background-color: #003D79;
        }
      }

      &.in-selected-range {
        background-color: lighten($color: #003D79, $amount: 70);
        border-radius: 0;
        font-size: 12px;
      }

      &.disabled {
        background-color: transparent;
        color: #666;
        cursor: not-allowed;
        font-weight: 400;
      }

      &.different-month {
        color: #888;
        font-weight: 500;

        &.disabled {
          color: #ccc;
        }
      }
    }
  }
}
